body {
    background-image: url("https://images.pexels.com/photos/1498964/pexels-photo-1498964.jpeg?cs=srgb&dl=coffee-communication-compose-1498964.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.name {
    color: lightcyan;
    background-color: rgba(17, 134, 140, 0.9);
    border-style: outset;
    border-color: rgba(17, 134, 140, 0.9);
    border-radius: 20px;
    margin: 5% 35% 0 35%;
    padding: 1% 5%;
}

.work-experience h3, h4{
    margin: 0;
}

.work-experience p{
    margin-top: 0;
}

article {
    background-color: rgba(17, 134, 140, 0.9);
    margin: 25px 200px 25px 200px;
    padding: 0% 5%;
}

article {
    color: lightcyan;
    border-style: outset;
    border-color: rgba(17, 134, 140, .9);
    border-radius: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navy;
    padding: 5px;
    color: darkgrey;
    width: 100%
}