body {
    background-image: url("https://images.pexels.com/photos/1498964/pexels-photo-1498964.jpeg?cs=srgb&dl=coffee-communication-compose-1498964.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.name {
    font-size: 2.5vw;
    color: lightcyan;
    background-color: rgba(17, 134, 140, 0.9);
    border-style: outset;
    border-color: rgba(17, 134, 140, 0.9);
    border-radius: 20px;
    margin: 1vw 35vw 0 35vw;
    padding: 1% 5%;
}

.projects {
    background-color: rgba(17, 134, 140, 0.9);
    margin: 1vw 10vw 3vw 10vw;
    padding: 0 5% 2% 5%;
    color: lightcyan;
    border-style: outset;
    border-color: rgba(17, 134, 140, .9);
    border-radius: 20px;
}

.grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: auto;
}

.about-me, .work-experience, .goals {
    background-color: rgba(17, 134, 140, 0.9);
    margin: 1vw 10vw 3vw 10vw;
    padding: 0% 5%;
    color: lightcyan;
    border-style: outset;
    border-color: rgba(17, 134, 140, .9);
    border-radius: 20px;
}

.work-experience p {
    margin-top: 0;
}

.work-experience h3, h4{
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navy;
    padding: 5px;
    color: darkgrey;
    width: 100%
}